body{
    background-color: #ffffcc !important;
    /*box-sizing: border-box;*/


    
}
#mainContainer{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    position: relative;
  /*margin: 0px 0 0 -5%; */
  /*left: 50%;*/
}


#header{
     
}

#title{}
#gameStatus{
       
}

td{
    

  background-color: #ffffcc;
border: dotted black 5px;

    width: 100px;
    height: 100px;
}


table{
    margin: 0 auto;
    table-layout: fixed;
    border-collapse: collapse;


}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
 }